<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="row w-100">
      <div class="col-md-4 text-center">
        <div *ngIf="movie">
          <img [src]="getMoviePoster(movie.poster_path)" alt="{{ movie.title }}" class="img-fluid mb-4">
        </div>
      </div>
      <div class="col-md-8">
        <div *ngIf="movie">
          <h1>{{ movie.title }}</h1>
          <p>{{ movie.overview }}</p>
          <p><strong>Anno di rilascio:</strong> {{ movie.release_date }}</p>
          <p><strong>Punteggio:</strong> {{ movie.vote_average }}</p>
          <p><strong>Durata:</strong> {{ movie.runtime }} minuti</p>
          <button class="btn btn-secondary mt-4" (click)="goBack()">Torna Indietro</button>
        </div>
      </div>
    </div>
</div>


