<div class="container mt-4">
    <div class="d-flex justify-content-center">
        <div>
            <app-search-bar (moviesFound)="updateMovieList($event)"></app-search-bar>
        </div>
    </div>
</div>





<!-- <div class="container">
    <div class="row">


            <mat-card *ngFor="let movie of movies" class="example-card">
                <a [routerLink]="['/movie', movie.id]">Link</a>
                <img mat-card-image [src]="getMoviePoster(movie.poster_path)" alt="{{ movie.title }}">
            
            
                <mat-card-content>
                    <h2>{{ movie.title }}</h2>
            
                    <p>Anno: {{ movie.release_date }}</p>
            
            
                    <p>Punteggio: {{ movie.vote_average }}</p>
            
                    <p>Generi: {{ getGenreNames(movie.genre_ids) }}</p>
            
                </mat-card-content>

            </mat-card>

    </div>
</div> -->

<div class="container mt-4">
    <div class="row d-flex flex-wrap">
      <div class="col-md-3 mb-4 d-flex align-items-stretch" *ngFor="let movie of movies">
        <div class="card w-100 d-flex flex-column">
          <img [src]="getMoviePoster(movie.poster_path)" class="card-img-top" alt="{{ movie.title }}">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text">Punteggio: {{ movie.vote_average }}</p>
            <p class="card-text">Generi: {{ getGenreNames(movie.genre_ids) }}</p>
            <a [routerLink]="['/movie', movie.id]" class="btn btn-primary mt-auto">Dettagli</a>
          </div>
        </div>
      </div>
    </div>

  
  
    <!-- Paginazione -->
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  


